body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9e0ab;
  }
  
  h2 {
    color: #333;
    background-color: #ddd;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .output {
    margin: 20px auto;
    padding: 20px;
   
  }
  .hasil{
text-align: center;  
}